In [11]:
import pandas as pd
df=pd.read_csv("smthg.csv")
df

     251\t[ Null ]
0      287\t··D···
1    256\t[ Null ]
2        0\t··D···
3     59\t[ Null ]
4      252\t··D···
..             ...
717     84\t··DASS
718     84\t··DASS
719     84\t··DASS
720    253\t··DASS
721  42183\t··DASS

[722 rows x 1 columns]

In [12]:
first_column=df.columns[0]
first_column

'251\t[ Null ]'

In [13]:
df = df.rename(columns={first_column: 'window'})

In [14]:
df[['window_size', 'comp_str']] = df['window'].str.split('\t', expand=True)
df.drop('window', axis=1, inplace=True)
df

    window_size  comp_str
0           287    ··D···
1           256  [ Null ]
2             0    ··D···
3            59  [ Null ]
4           252    ··D···
..          ...       ...
717          84    ··DASS
718          84    ··DASS
719          84    ··DASS
720         253    ··DASS
721       42183    ··DASS

[722 rows x 2 columns]

In [15]:
df['window_size'] = pd.to_numeric(df['window_size'], errors='coerce').astype('Int64')
df

     window_size  comp_str
0            287    ··D···
1            256  [ Null ]
2              0    ··D···
3             59  [ Null ]
4            252    ··D···
..           ...       ...
717           84    ··DASS
718           84    ··DASS
719           84    ··DASS
720          253    ··DASS
721        42183    ··DASS

[722 rows x 2 columns]

In [16]:
# df.info()

In [17]:

for index, row in df.iterrows():
    if row['window_size'] == 513:
        if row['comp_str'] == "·F·ASS":
            mal=1
            break
    
    elif row['window_size'] == 256:
        if row['comp_str'] == "·F·ASS":
            mal=1
            break

    elif row['window_size'] == 1024:
        mal=1
        break